<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shibing_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{82,91}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{82,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{86,91}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{86,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,552},{92,91}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{92,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,374},{98,91}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{98,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,281},{104,91}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{104,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,281},{108,91}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{108,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,188},{112,91}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{112,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,95},{114,91}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{114,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,91}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{116,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{114,91}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{114,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{112,91}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{112,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,188},{110,91}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{110,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,95},{112,91}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{112,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{114,91}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{114,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{114,91}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{114,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{114,91}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{114,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,95},{112,91}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{112,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,188},{110,91}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{110,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{108,91}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{108,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,281},{106,91}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{106,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{100,91}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{100,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,374},{96,91}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{96,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,552},{90,91}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{90,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{86,91}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{86,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>shibing_attack_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{82,91}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{82,91}}</string>
                <key>sourceSize</key>
                <string>{138,101}</string>
            </dict>
            <key>walk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{87,91}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,467},{87,93}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{87,93}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,467},{87,93}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{87,93}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{87,93}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{87,93}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,463},{87,93}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{87,93}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,556},{87,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,556},{87,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{87,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>walk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,644},{87,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>walk_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,463},{87,93}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{87,93}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,374},{87,93}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{87,93}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,374},{87,93}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{87,93}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroA.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec1e5784235ff54842c99fa109226423$</string>
            <key>textureFileName</key>
            <string>HeroA.png</string>
        </dict>
    </dict>
</plist>
