<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walk_00_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,84},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
            <key>walk_01_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,425},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
            <key>walk_02_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,284},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
            <key>walk_03_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,143},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
            <key>walk_04_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
            <key>walk_05_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
            <key>walk_06_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
            <key>walk_07_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
            <key>walk_08_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
            <key>walk_09_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
            <key>walk_10_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
            <key>walk_11_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,84},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroD.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:942a42f8da1fcd03ce49d22530d0a91d$</string>
            <key>textureFileName</key>
            <string>HeroD.png</string>
        </dict>
    </dict>
</plist>
