<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_00_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{234,301}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,4},{234,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>attack_01_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,730},{230,301}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,4},{230,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>attack_02_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,730},{234,301}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,4},{234,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>attack_03_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,252},{238,301}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,4},{238,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>attack_04_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,492},{236,301}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,4},{236,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>attack_05_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{236,301}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,4},{236,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>attack_06_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{238,305}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{238,305}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>attack_07_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{238,301}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,4},{238,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>attack_08_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,962},{228,301}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,4},{228,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>attack_09_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{238,301}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,4},{238,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>attack_10_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,242},{248,301}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{248,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>attack_11_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{248,301}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{248,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>walk_00_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{234,301}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,4},{234,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>walk_01_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,492},{236,301}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,4},{236,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>walk_02_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,305}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{240,305}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>walk_03_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,492},{236,301}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,4},{236,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
            <key>walk_04_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{234,301}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,4},{234,301}}</string>
                <key>sourceSize</key>
                <string>{292,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroC.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58f9f3f8d8feab904b363983c49efa36$</string>
            <key>textureFileName</key>
            <string>HeroC.png</string>
        </dict>
    </dict>
</plist>
